# client/.env.example
NODE_ENV=development

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:4200

NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1/
NEXT_PUBLIC_S3_URL=http://localhost:4566