# .env.example
# DATABASE_URL="postgres://9d435eb351c947e66b1c70ca508ff8d4f47d39746c18ae386df325a2decc8b22:sk_GDpw7IHSU3OvsVBYHKfc8@db.prisma.io:5432/postgres?sslmode=require"
# DATABASE_URL=postgresql://postgres:1234@localhost:5432/electronic_turborepo?schema=public

POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_DB=furniture.wholesale

REDIS_PASSWORD=1234

PGADMIN_DEFAULT_EMAIL=admin@gyp6.sale
PGADMIN_DEFAULT_PASSWORD=admin1234
PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=False

S3_BUCKET_NAME=furniture-wholesale-bucket
RCLONE_EXE=C:/Tools/rclone/rclone.exe