# server/.env.example

MODE_ENV='development'

# HTTP Server
HTTP_PORT=4200
HTTP_HOST=http://localhost:4200
HTTP_CORS=http://localhost:3000

FRONTEND_URL=http://localhost:3000

JWT_SECRET=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:4200

DATABASE_URL=

REDIS_USER=default
REDIS_PASSWORD=1234
REDIS_HOST=localhost
REDIS_PORT=6379

RESEND_API_KEY=
RESEND_MAIL_FROM='onboarding@resend.dev'