# server/.env.example
MODE_ENV='development'

# HTTP Server
HTTP_PORT=4200
HTTP_HOST=http://localhost:4200
HTTP_CORS=http://localhost:3000

BACKEND_URL=http://localhost:4200
FRONTEND_URL=http://localhost:3000

JWT_SECRET=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:4200

DATABASE_URL=

REDIS_USER=default
REDIS_PASSWORD=1234
REDIS_HOST=localhost
REDIS_PORT=6379

RESEND_API_KEY=
RESEND_MAIL_FROM='onboarding@resend.dev'

S3_ENDPOINT=http://localhost:4566
S3_REGION=us-east-1
S3_BUCKET_NAME=
S3_ACCESS_KEY=test
S3_SECRET_KEY=test

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Facebook OAuth
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

# Apple OAuth
APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
